<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="./css/landing.css">
    <link rel="stylesheet" href="./css/nav.css">
</head>
<body>
    <!-- Nav bar -->
    <nav class="nav">
        <div class="logo">
            <img src="./images/logo.png" alt="">
            <img src="./images/Ministry_of_Law_and_Justice.png" alt="">
            <img src="./images/swach-bharat.png" alt="">
        </div>
        <div class="login">
            <a href=""><button>Community forum</button></a>
            <a href="./signIn"><button>Login</button></a>
        </div>
    </nav>
    <img class="indCol" src="./images/tempNav.png" alt="">
    
    <!-- Welcome Page -->
    <div class="wlc">
        <div class="wlcTxt">
            <span>Create forencics sketch <br> in a minute  like 🫰</span>
            <p><br>Our intuitive drag-and-drop interface makes it easy for you to craft face sketches. </p>
            <a href="./start"><button class="started"> <span>Get started</span> <img src="./images/Guywithrobot.png" alt=""></button></a>
        </div>
        <div class="wlcImg">
            <img src="./images/boy.png" alt="">
        </div>
    </div>

    <!-- footer -->
    
    <script src="./javaScript/landing.js"></script>
</body>
</html>