@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: 'Open Sans','Lato';
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top:1rem;
}
.logo img{
    width: 9vw;
}
.login{
    width: 25%;
    display: flex;
    flex-direction: row;
}
.login button{
    background-color: transparent;
    border: 0;
    font-size: 1vw;
}
.indCol{
    position: absolute;
    top: -0;
    z-index: -1;
    width: 30rem;
    right: 0;
}