<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>start</title>
    <link rel="stylesheet" href="./css/nav.css">
    <link rel="stylesheet" href="./css/start.css">
    <link rel="stylesheet" href="./css/suggestion.css">
    <link rel="stylesheet" href="./css/darkMode.css">
</head>
<script src="./javaScript/start.js" defer></script>
<body>

    <section class="seperator-wrapper">
        <div class="seperator gradient">
        </div>
      </section>

    <!-- Nav bar -->
    <nav class="nav">
        <div class="logo">
            <img src="./images/logo.png" alt="">
        </div>
        <div class="login">
            <a href="./community">Community forum</a>
            <a href=""><button>Sign in</button></a>
        </div>
    </nav>

    
    <!-- Sketch Maker -->
    <div class="container">
        <div class="categories">
            <div class="optionContainer">
                <ul class="options" id="options">
                    <li class="option active" id="head">
                        <img src="./images/headLogo.png" alt="" srcset="">
                        <a href="#">Head</a>
                    </li>
                    <li class="option" id="hair">
                        <img src="./images/hairLogo.png" alt="" srcset="">
                        <a href="#">Hair</a>
                    </li>
                    <li class="option" id="eyes">
                        <img src="./images/eyeLogo.png" alt="" srcset="">
                        <a href="#">Eyes</a>
                    </li>
                    <li class="option" id="eyebrows">
                        <img src="./images/eyebrowLogo.png" alt="" srcset="">
                        <a href="#">Eyebrows</a>
                    </li>
                    <li class="option" id="nose">
                        <img src="./images/noseLogo.png" alt="" srcset="">
                        <a href="#">Nose</a>
                    </li>
                    <li class="option" id="lips">
                        <img src="./images/lipsLogo.png" alt="" srcset="">
                        <a href="#">Lips</a>
                    </li>
                    <li class="option" id="mustache">
                        <img src="./images/mustacheLogo.png" alt="" srcset="">
                        <a href="#">Mustache</a>
                    </li>
                </ul>
            </div>
            <div class="content">
               

            </div>
        </div>

    </div>

</body>
</html>